* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Progress Bar */
.bar_container {
  width: 80%;
  margin: 30px auto 0;
  background-color: linen;
}

.bar_container_filling {
  height: 50px;
  background-color: #4CAF50;
}

.stop_btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 20px auto;
  padding: 15px 32px;
  display: block;
  font-size: 16px;
}

.stop_btn:hover {
  cursor: pointer;
  background-color: red;
}

/*Autocomplete*/
.autocom_container {
  margin: 20px 25px 50px;
  font: 16px Arial;
}

.description {
  font: 18px Arial;
  text-align: center;
  margin-top: 75px;
}

.autocom_input {
  display: block;
  width: 28%;
  margin: 10px auto 0;
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.autocom_list {
  width: 28%;
  margin: 0 auto;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
}

.autocom_list div {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

.autocom_list div:hover {
  background-color: #e9e9e9;
}

.autocom_list_active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

/*Whack a Mole*/
.game_container {
  width: 70%;
  height: 600px;
  margin: 100px auto;
}

.point {
  text-align: center;
  font: 28px Arial;
  margin-top: 30px;
}

.restart {
  margin-top: 50px;
  font: bold 28px Arial;
}

.restart:hover {
  cursor: pointer;
  font-size: 45px;
  font-style: italic;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
}

.grid {
  width: 55%;
  height: 530px;
  margin: auto;
}

.grid > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid .cell {
  flex-basis: 30.5%;
  height: 160px;
  margin: 12px 0 5px;
  font: 40px Impact;
  border-radius: 10px;
  background-color: #8B4513;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid .cell:hover{
  cursor: pointer;
}